@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
html {
	font: 62.5% "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
		"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
		"ＭＳ Ｐ明朝", "MS PMincho", serif;
}

body {
	font-size: 1.6rem;
	color: rgb(34, 34, 34);
}

#wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
header {
	margin-bottom: 15px;
	width: 100%;
	height: 295px;
}
header h1 {
	width: 100%;
	height: 100%;
}

header h1 a {
	display: block;
	height: 100%;
	transition: 0.4s;
}

header h1 a:hover {
	opacity: 0.8;
}

.headimg {
	border-radius: 0%;
}

.topimg {
	width: 1000px;
	border-radius: 0%;
	margin: 0 auto;
}
h2 {
	background: url(../img/h2bg.png) no-repeat bottom right;
	text-align: center;
	color: rgb(0, 111, 191);
	height: 40px;
	box-sizing: border-box;
	padding-top: 5px;
	margin-bottom: 40px;
	font-size: 2em;
}
.lnav {
	margin-left: 38px;
	background-image: url(../img/yuki1.png);
	background-repeat: no-repeat;
	background-size: 650px;
	background-position-x: 170px;
	background-position-y: 40px;
}
.lnav ul li:hover {
	opacity: 0.7;
}
.content {
	width: 800px;
}
.res0 {
	width: 1000px;
}
.sli {
	list-style-type: none;
}
.btn {
	list-style-type: none;
	margin-bottom: 15px;
	font-size: 1.3em;
	color: rgb(95, 94, 94);
	margin-right: 35px;
	margin-top: 120px;
	margin-bottom: 120px;
}
li a {
	text-decoration: none;
}
.gtx {
	margin: 0 auto;
	width: 800px;
	border-bottom: rgb(95, 94, 94) 1px solid;
	padding-top: 30px;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	text-align: center;
	line-height: 120px;
}
.circle1 {
	background: rgb(139, 215, 245);
}
.circle2 {
	background: rgb(154, 243, 72);
}
.circle3 {
	background: rgb(243, 197, 99);
}
.circle4 {
	background: rgb(190, 141, 247);
}
.circle5 {
	background: rgb(217, 247, 48);
}
.circle6 {
	background: rgb(18, 184, 250);
}
.timg1,
.timg2 {
	border-radius: 0%;
}
.timg1 {
	width: 300px;
}
.timg2 {
	width: 500px;
}
main {
	width: 800px;
	margin: 0 auto;
}
.gtx {
	width: 630px;
}
.ab,
.c,
.d,
.e,
.f,
.g {
	width: 350px;
	margin-left: 33px;
	margin-top: 33px;
}
.abtitle,
.ctitle,
.dtitle,
.etitle,
.ftitle {
	height: 80px;
	border-radius: 30%;
}
.abtitle {
	background-color: rgb(139, 215, 245);
}
.ctitle {
	background-color: rgb(243, 177, 102);
}
.dtitle {
	background-color: rgb(248, 109, 139);
}
.etitle {
	background-color: rgb(224, 196, 71);
}
.ftitle {
	background-color: rgb(225, 158, 231);
}
.titx {
	line-height: 80px;
	text-align: center;
	font-size: 1.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(95, 94, 94);
}
.abimg,
.cimg,
.dimg,
.abimg,
.abimg {
	width: 300px;
	margin-left: 25px;
}
.eimg,
.fimg {
	width: 300px;
	margin-left: 25px;
	height: 230px;
}
.gimg {
	width: 300px;
	margin-left: 25px;
	margin-top: 100px;
}
.abtx,
.dtx {
	margin: 30px;
	margin-left: 30px;
}
.ctx {
	margin-top: 35px;
	margin-bottom: 45px;
	margin-left: 30px;
}
.etx,
.ftx {
	margin: 41px;
	margin-left: 30px;
}

#guide,
#histry,
#event,
#contest,
#queen,
#access {
	width: 800px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
.histx {
	margin: 0px 40px;
	margin-top: 40px;
}
figcaption {
	line-height: 10px;
	font-size: 0.8em;
}
.fb1,
.fb2,
.fb4,
.fb7,
.fb9,
.fb11,
.fb13,
.fb14,
.fb15,
.fb17 {
	margin-left: 49.438px;
}
.fb3,
.fb5,
.fb6,
.fb10,
.fb12,
.fb16,
.fb18 {
	margin-left: 60px;
}
.his1,
.qu1,
.qu2 {
	margin-top: 20px;
}
.histi,
.evti,
.conti,
.quti,
.acti {
	margin-bottom: 50px;
	margin-left: 200px;
	width: 400px;
	border-radius: 15%;
}
.hisimg1,
.hisimg2,
.evimg1,
.evimg2,
.evimg3,
.evimg4,
.c2015chanp,
.c2016chanp,
.c2017chanp,
.c2018chanp,
.c2019chanp,
.c2020chanp,
.m1,
.m2,
.m3,
.m4 {
	width: 330px;
}
.evtx {
	width: 500px;
	margin: 40px auto;
}
.contx,
.qutx {
	width: max-content;
	margin: 0 auto;
	margin-bottom: 50px;
	border-bottom: rgb(95, 94, 94) 1px solid;
}
.con1,
.con2 {
	margin-bottom: 20px;
}
img {
	border-radius: 30%;
}
.qutx {
	width: 600px;
}
.m2 {
	margin-top: 50px;
}
.tasu {
	margin: 30px auto;
}
footer {
	margin-top: 80px;
}
.foot {
	border-radius: 0%;
}

.sli {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.btn {
	cursor: pointer;
}
.active {
	position: static;
	opacity: 0;
	animation-name: fadein-right;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes fadein-right {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

nav {
	width: 200px;
	padding-top: 200px;
}
.menuButton {
	display: block;
	height: 80px;
	width: 80px;
	background: rgb(228, 228, 228);
	opacity: 0.9;
	border-radius: 1em;
	position: fixed;
	/* 固定コマンド */
	top: 0;
	right: 0;
	transition: 0.3s;
	z-index: 51;
}
.menuButton div {
	height: 1px;
	width: 60%;
	background: rgb(71, 71, 71);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: ease-out 0.3s;
}
.menuButton.active2 {
	background-color: #fff;
}
.menuButton div:nth-of-type(1) {
	transform: translate(-50%, -15px);
}
.menuButton div:nth-of-type(3) {
	transform: translate(-50%, 15px);
}
.menuButton.active2 div:nth-of-type(1) {
	transform: rotate(45deg) translate(-50%, -0px);
	transform-origin: 0% 50%;
}
.menuButton.active2 div:nth-of-type(3) {
	transform: rotate(-45deg) translate(-50%, 0px);
	transform-origin: 0% 50%;
}
.menuButton.active2 div:nth-of-type(2) {
	width: 70%;
	height: 70%;
	border: 1px solid #333;
	background-color: transparent;
	border-radius: 15%;
}
nav {
	opacity: 0;
	visibility: hidden;
	transform: translate(100%);
	transition: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	max-height: 100vh;
	height: 100vh;
	z-index: 50;
	overflow: auto;
	box-shadow: 0 0 10px 3px rgb(87, 87, 87);
}
nav ul {
	text-align: center;
	list-style: none;
}
nav ul li:not(:first-of-type) {
	margin-top: 20px;
}
nav.active2 {
	opacity: 1;
	visibility: visible;
	transform: translate(0%);
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(221, 221, 221);
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: 0.3s;
}
.mask.active2 {
	opacity: 0.7;
	visibility: visible;
}
nav img {
	background-size: cover;
	width: 150px;
}

@media screen and (max-width: 400px) {
	#wrapper {
		width: 100%;
	}
	.headimg,
	.topimg,
	.foot,
	.btn,
	.h2 {
		width: 100vw;
	}
	.gnav ul {
		width: 80vw;
	}
	.lnav {
		width: 80vw;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	.res0 {
		display: block;
		margin-top: 10px;
		width: 100vw;
	}
	.circle1,
	.circle2,
	.circle3,
	.circle4,
	.circle5,
	.circle6 {
		width: 80px;
		height: 80px;
		line-height: 80px;
		margin: 0 15px 0 0;
	}
	.circle4 {
		display: block;
	}
	.circle5 {
		display: block;
		margin-left: 4px;
	}
	.circle6 {
		display: block;
		margin-right: 0;
		margin-left: 5px;
	}
	.res1 {
		display: flex;
		margin-top: 10px;
	}
}

ul li img {
	border-radius: 0;
}
